.kpi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    width: auto;
    height: auto;

    box-sizing: border-box;

    outline: red solid 1px;
}
