root {
}
html, body {
/* html and body apparently has build-in margin and/or padding */
    margin: 0;
    padding: 0;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    outline: green solid 1px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 12dvh;

    outline: black solid 1px;
}