<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <div class="header">
            <div class="logoBox">
                <img th:src="@{'/img/logo.png'}" src="../static/img/logo.png" alt="Logo" class="logo">
            </div>

            <div class="headerOptions">
                <div class="headerOption" th:if="${user.isAdmin}">
                    <div class="dropDownMenuContainer">

                        <input type="checkbox" id="expandDropDownCheckBox" class="dropDownHiddenToggle" hidden>
                        <div class="dropDownMenu boldText">
                            <div class="dropDownButton">
                                <div class="currentDropDownOption">
                                    Skift bruger type
                                </div>
                                <div class="expandDropDownButton">
                                    <label for="expandDropDownCheckBox" class="dropDownArrow">
                                        6
                                    </label>
                                </div>
                            </div>
                            <a th:href="@{/adminGetData}" class="dropDownOption">
                                Dataregistrering
                            </a>

                            <a th:href="@{/adminGetRepair}" class="dropDownOption">
                                Skaderegistrering
                            </a>

                            <a th:href="@{/businessPage}" class="dropDownOption">
                                Forretningsudvikling
                            </a>

                            <a th:href="@{/getUserPage}" class="dropDownOption">
                                Systemadministrator
                            </a>
                        </div>

                    </div>
                </div>
                <div class="headerOption">
                    <form th:action="@{/getUserPage}" method="get">
                        <label for="getUserPageButton" class="textButton">Startside</label>
                        <button type="submit" hidden id="getUserPageButton">Startside</button>
                    </form>
                </div>
                <div class="headerOption">
                    <form th:action="@{/logOutUser}" method="post">
                        <label for="logOutuserButton" class="textButton">Log ud</label>
                        <button type="submit" hidden id="logOutuserButton">Startside</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>