<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj skade</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div class="header">
    <div class="logoBox">
        <img th:src="@{'/img/logo.png'}" src="../static/img/logo.png" alt="Logo" class="logo">
    </div>

    <div class="headerOptions">
        <div class="headerOption">
            <form th:action="@{/getUserPage}" method="get">
                <label for="getUserPageButton" class="textButton">Startside</label>
                <button type="submit" hidden id="getUserPageButton">Startside</button>
            </form>
        </div>
        <div class="headerOption">
            <form th:action="@{/logOutUser}" method="get">
                <label for="getUserPageButton" class="textButton">Log ud</label>
                <button type="submit" hidden id="logOutuserButton">Startside</button>
            </form>
        </div><div class="headerOption">
    </div>
    </div>
</div>

<div class="mainContent">
    <div class="formContainer">
        <h1>Bil ID <span th:text="${car.vehicleNumber}"></span></h1>
        <h1>Lease ID <span th:text="${lease.leaseId}"></span></h1>
        <p>Tilføj skade</p>
        <form th:action="@{/addDamage}" method="post" class="createForm">
            <div class="form-group">
                <input type="text" id="damageType" name="damageType" placeholder="Skade type">
            </div>
            <div class="form-group">
                <input type="number" id="category" name="category" placeholder="Kategori">
            </div>
            <div class="form-group">
                <input type="number" id="price" name="price" placeholder="Pris">
            </div>
            <input type="hidden" th:value="${lease.leaseId}" id="leaseId" name="leaseId" placeholder="Lease Id">
            <button type="submit">Tilføj</button>
        </form>
    </div>
</div>
</body>
</html>