<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj skade</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">

    <form th:action="@{/showCar}" method="get">
        <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
        <button type="submit" class="boxButton fixedButtonWidth">Tilbage</button>
    </form>

    <div class="formContainer">
        <div class="lightText">Tilføj skade</div>
        <div class="boldText">Bil ID: <span th:text="${car.vehicleNumber}"></span></div>
        <div class="boldText">Lease ID: <span th:text="${lease.leaseId}"></span></div>
        <form th:action="@{/addDamage}" method="post" class="registerForm">
            <div class="form-group">
                <input type="text" id="damageType" name="damageType" placeholder="Skade type">
            </div>
            <div class="fivePointCatSelect">
                <div class="lightText">
                    Kategori
                </div>


                <div class="fivePointRadios">
                <label>
                    <span>1</span>
                    <input type="radio" name="category" th:value="1">
                </label>
                <label>
                    <span>2</span>
                    <input type="radio" name="category" th:value="2">
                </label>
                <label>
                    <span>3</span>
                    <input type="radio" name="category" th:value="3">
                </label>
                <label>
                    <span>4</span>
                    <input type="radio" name="category" th:value="4">
                </label>
                <label>
                    <span>5</span>
                    <input type="radio" name="category" th:value="5">
                </label>
                </div>
            </div>
            <div class="form-group">
                <input type="number" id="price" name="price" placeholder="Pris">
            </div>
            <input type="hidden" th:value="${lease.leaseId}" id="leaseId" name="leaseId" placeholder="Lease Id">

            <label for="submitButton" class="boxButton">Tilføj skade</label>
            <button id="submitButton" type="submit" hidden="">Tilføj</button>
        </form>
    </div>
</div>
</body>
</html>