<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/dropDownMenu.css" th:href="@{/dropDownMenu.css}">
    <link rel="stylesheet" href="../static/popUpBox.css" th:href="@{/popUpBox.css}">

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="mainContent">
    <div class="userOptions">

        <div class="boldText">Vælg funktion:</div>

        <a th:href="@{/getCreateUser}" class="boxButton">Opret ny bruger</a><!--findes i UserController-->


        <input type="checkbox" name="confirmation" id="needConfirm" class="hiddenToggle">
        <label for="needConfirm" class="boxButton">Find en bruger</label>
        <div class="popUpBoxFull">
            <div class="popUpBox">
                <div class="boldText">Indtast brugernavn for den bruger du vil finde</div>
                <div class="inputFields">
                    <form th:action="@{/getShowUserPage}" method="post"><!--findes i UserController-->
                        <input type="text" name="usernameBox" id="usernameBox" placeholder=Brugernavn>
                        <button id="submitButton" hidden type="submit">Find bruger</button>
                    </form>
                </div>
                <div class="choices">
                    <!-- the actual method -->
                    <label for="submitButton" class="textButton">Søg</label>
                    <label for="needConfirm" class="textButton">Annuller</label>
                </div> <!-- div choices ends -->
            </div>
        </div><!-- div confirmationBox ends -->





    </div>

    <div class = notifications>
        <div class="notificationsPanel">
            <p>Notifikationer</p>
            <p th:if="${message}" th:text="${message}" class="notification"></p>
            <div th:each="notification : ${notificationList}" class="notification"  th:classappend="${notification.getType()}">
                <p th:text="${notification.getMessage()}"></p>
            </div>
        </div>
    </div><!-- div notifications ends -->

</div>
</body>
</html>