<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/dropDownMenu.css" th:href="@{/dropDownMenu.css}">

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">
    <div class="userOptions">

        <a th:href="@{/getCreateUser}" class="btn">Opret ny bruger</a>
        <form th:action="@{/getShowUserPage}" method="post">
            <input type="text" name="usernameBox" id="usernameBox" placeholder="indtast navn på den bruger du vil vise">
            <button type="submit">Find bruger</button>
        </form>





    </div>

    <div class="notifications">
        <p th:if="${message}" th:text="${message}"></p>
        Notifikationer
    </div>

</div>
</body>
</html>