<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikling</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
    <link rel="stylesheet" href="../static/businessPage.css" th:href="@{/businessPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">
    <div class="userOptions">
        <div class="allKpi">
            <div class="kpi"> <!-- Number of leased cars -->
                <span th:text="${noOfLeasedCars}"></span>
                <br>
                <span th:text="${totalCars}"></span>
            </div>
            <div class="kpi"> <!-- Monthly revenue -->
                <span th:text="${revenueFromRentedCars}"></span>
            </div>
            <div class="kpi"> <!-- Value of leased cars -->
                <span th:text="${priceOfLeasedCars}"></span>
            </div>
            <div class="kpi"> <!-- Average damage sum per lease -->
                <span th:text="${averageDamageSumPerLease}"></span>
            </div>
            <div class="kpi"> <!-- Most common car model -->
                <span th:text="${mostCommonCarModel}"></span>
            </div>
        </div>
    </div>
<div class = notifications>
    <div class="notificationsPanel">
        Notifikationer
        <p th:if="${message}" th:text="${message}" class="notification"></p>
        <div th:each="notification : ${notificationList}" class="notification"  th:classappend="${notification.getType()}">
            <p th:text="${notification.getMessage()}"></p>
        </div>
    </div>
</div><!-- div notifications ends -->
</div> <!-- mainContent ends -->
</body>
</html>