
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikling</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="mainContent">

    <div class="KPIbox">
        <div class="allKPIs">
            <div class="KPIhead">
                <h1>KPI'er</h1>
            </div>
            <div class="KPI">
        <!-- Number of leased cars -->
                <p>Antal udlejede biler</p>
        <span th:text="${noOfLeasedCars}">Lejede biler</span>
            </div>
            <div class="KPI">
                <!-- Total cars -->
                <p>Antal biler i alt</p>
                <span th:text="${totalCars}">Alle biler</span>
            </div>
            <div class="KPI">
                <!-- Monthly revenue -->
                <p>Månedlig indtjening fra udlejede biler</p>
                <span th:text="${#numbers.formatDecimal(revenueFromRentedCars,0,'POINT',2,'COMMA')} + ' DKK'"></span>
            </div>
            <div class="KPI">
                <!-- Value of leased cars -->
                <p>Samlet værdig af udlejede biler</p>
                <span th:text="${#numbers.formatDecimal(priceOfLeasedCars,0,'POINT',2,'COMMA')} + ' DKK'"></span>
            </div>
            <div class="KPI">
                <!-- Average damage sum per lease -->
                <p>Gennemsnitlig skadessum pr. lease</p>
                <span th:text="${#numbers.formatDecimal(averageDamageSumPerLease,0,'POINT',2,'COMMA')} + ' DKK'"></span>
            </div>
            <div class="KPI">
                <!-- Most common car model -->
                <p>Mest populære bilmodel</p>
                <span th:text="${mostCommonCarModel}"></span>
            </div>


        </div>
    </div>

    <div class = notifications>
        <div class="notificationsPanel">
            <p>Notifikationer</p>
            <p th:if="${message}" th:text="${message}" class="notification"></p>
            <div th:each="notification : ${notificationList}" class="notification"  th:classappend="${notification.getType()}">
                <p th:text="${notification.getMessage()}"></p>
            </div>
        </div>
    </div><!-- div notifications ends -->
</div> <!-- mainContent ends -->
</body>
</html>