<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret lejeaftale</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">
    <a th:href="@{/getUserPage}" class="">Tilbage</a>
    <div class="formContainer">
        <form th:action="@{/saveCreateLease}" method="post" class="registerForm">
            <div class="form-group">
                <label for="vehicle_no">Vogn Nummer:</label>
                <select id="vehicle_no" name="vehicle_no" placeholder="Vælg bil" required>
                    <option value="">-- Vælg --</option>
                    <th:block th:each="car : ${availableCars}">
                        <option th:value="${car.getVehicleNumber()}" th:text="${car.getVehicleNumber()} +' - '+ ${car.getCarModel().getBrand()} +' - ' +${car.getCarModel().getModel()} +' - '+${car.getCarModel().getProductionYear()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form-group">
                <label for="start_date">Start Dato:</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>
            <div class="form-group">
                <label for="end_date">Slut Dato (Undlad ved limited):</label>
                <input type="date" id="end_date" name="end_date">
            </div>
            <div class="form-group">
                <label for="customer_name">Kunde Navn:</label>
                <input type="text" id="customer_name" name="customer_name" placeholder="Indtast kundens navn" required>
            </div>
            <div class="form-group">
                <label for="customer_email">Kunde Email:</label>
                <input type="text" id="customer_email" name="customer_email" placeholder="Indtast kundens email" required>
            </div>
            <div class="form-group">
                <label for="customer_number">Kunde Nummer:</label>
                <input type="text" id="customer_number" name="customer_number" placeholder="Indtast kundens nummer" required>
            </div>
            <div class="form-group">
                <label for="price_to_start">Udbetaling:</label>
                <input type="number" id="price_to_start" name="price_to_start" placeholder="Indtast udbetalingsbeløb" required>
            </div>
            <div class="form-group">
                <label for="price_pr_month">Månedlig Ydelse:</label>
                <input type="number" id="price_pr_month" name="price_pr_month" placeholder="Indtast mdl. ydelse" required>
            </div>
            <div class="form-group">
                <label for="type_of_lease">Type Abonnement:</label>
                <select id="type_of_lease" name="type_of_lease" placeholder="Vælg abonnement" required>
                    <option value="ABONNEMENT">Abonnement (3-36 mdr.)</option>
                    <option value="LIMITED">Limited (Altid 5 mdr.)</option>
                    <option value="MINILEASING">Minileasing</option>
                    <option value="VAREBIL">Varebil</option>
                </select>
            </div>
            <fieldset>
                <legend>Tilvalg:</legend>
                <div th:each="addon: ${addOnTypes}">
                    <label>
                        <input type="checkbox" name="selectedAddOns" th:value="${addon.addOnTypeId}">
                        <span th:utext="${addon.type} + ' - ' + ${addon.price} + 'kr./md. <br>Beskrivelse: ' + ${addon.description}"></span>
                    </label>
                </div>
            </fieldset>
            <button type="submit" class="styledButton">submit</button>
        </form>
    </div> <!-- div formContainer ends -->
</div> <!-- div mainContent ends -->
</body>
</html>