<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div class="mainContent">
<div class="header">Opret bruger</div>

    <div class="formContainer">
<p class="message" th:if="${message}" th:text="${message}" style="color: red;"></p>

<form th:action="@{/saveCreateUser}" method="post" class="loginForm">

    <input type="text" th:value="${userInfo.getFirstName}" id="firstName" name="firstName" placeholder="Indtast dit fornavn" required class="inputBox">
    <br>
    <input type="text" th:value="${userInfo.getLastName()}" id="lastName" name="lastName" placeholder="Indtast dit efternavn" required class="inputBox">
    <br>
    <input type="password" id="passWord" name="passWord" placeholder="Indtast password" required class="inputBox">
    <br>
    <input type="password" id="confirmPassWord" name="confirmPassWord" placeholder="Indtast password igen" required class="inputBox">
    <br>
    <select name="role" id="role" multiple required>
        <option value="Data">Data</option>
        <option value="Repair">Repair</option>
        <option value="Business">Business</option>
        <option value="Sysadmin">Sysadmin</option>
    </select>

    <button type="submit" class="styledButton">submit</button>
</form>
    </div>
</div>
</body>
</html>