<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Arrived at User page

<form th:action="@{/saveCreateUser}" method="post" class="loginForm">

    <input type="text" id="firstName" name="firstName" placeholder="Indtast dit fornavn" required class="inputBox">
    <br>
    <input type="text" id="lastName" name="lastName" placeholder="Indtast dit efternavn" required class="inputBox">
    <br>
    <input type="password" id="passWord" name="passWord" placeholder="Indtast password" required class="inputBox">
    <br>
    <input type="password" id="confirmPassWord" name="confirmPassWord" placeholder="Indtast password igen" required class="inputBox">
    <br>
    <select name="role" id="role" multiple required>
        <option value="Data">Data</option>
        <option value="Repair">Repair</option>
        <option value="Business">Business</option>
        <option value="Sysadmin">Sysadmin</option>
    </select>

    <button type="submit" class="styledButton">submit</button>
</form>

</body>
</html>