<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og udredning</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div class="header">
    <div class="logoBox">
        <img th:src="@{'/img/logo.png'}" src="../static/img/logo.png" alt="Logo" class="logo">
    </div>

    <div class="headerOptions">
        <div class="headerOption">
            <form th:action="@{/getUserPage}" method="get">
                <label for="getUserPageButton" class="textButton">Startside</label>
                <button type="submit" hidden id="getUserPageButton">Startside</button>
            </form>
        </div>
        <div class="headerOption">
            <form th:action="@{/logOutUser}" method="post">
                <label for="logOutuserButton" class="textButton">Log ud</label>
                <button type="submit" hidden id="logOutuserButton">Startside</button>
            </form>
        </div><div class="headerOption">
    </div>
    </div>
</div>
<div class="mainContent">

    <div class="userOptions">
        <div class="formContainer">
            <form th:action="@{/showLease}"  method=get>
                <input type="number" id="leaseId" name="leaseId" placeholder="Lease ID">
                <button type="submit">Find lease</button>
            </form>
        </div>
    </div>
    <div class="notifications">
        <p th:if="${message}" th:text="${message}"></p>
        <p>Dette er skade siden</p>
    </div>
</div>
</body>
</html>