<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og udredning</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">

    <div class="userOptions">
        <div class="formContainer">
            <form th:action="@{/showCarWithLeaseID}"  method=get>
                <input type="number" id="leaseId" name="leaseId" placeholder="Lease ID">
                <button type="submit">Find lease</button>
            </form>
        </div>
    </div>
    <div class="notifications">

        <div class="notifications">
            <div class="notificationsPanel">
                <p>Notifikationer</p>
                <p th:if="${message}" th:text="${message}"></p>
                <p>Dette er skade siden</p>
                <div th:each="notification : ${notificationList}" class="notification"  th:classappend="${notification.getType()}">
                    <p th:text="${notification.getMessage()}"></p>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>