<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div class="header">
    <p>HEADER</p>
</div>

<div class="notifications">
    NOTIFICATIONS
</div>
<div class="userOptions">
    <button>Registrer ny lease</button>

    <form th:action="@{/showLease}"  method=get>
        <input type="number" id="leaseId" name="leaseId" placeholder="Lease ID">

        <button type="submit">Find lease</button>
    </form>
</div> <!-- div userOptions ends -->

</body>
</html>