<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div class="mainContent">
    <div class="header">
        <p>HEADER</p>
    </div>

    <div class="userOptions">
        <a th:href="@{/createLease.html}" class="btn">Opret ny lease</a>
        <form th:action="@{/showLease}"  method=get>
            <input type="number" id="leaseId" name="leaseId" placeholder="Lease ID">
            <button type="submit">Find lease</button>
        </form>
    </div> <!-- div userOptions ends -->
    <div class="notifications">
        NOTIFICATIONS
    </div> <!-- div notifications ends -->

</div> <!-- div mainContent ends -->

</body>
</html>