<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger lejeaftale</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">


    <form th:action="@{/showLease(leaseId=${lease.leaseId})}" method="get">
        <button type="submit" class="boxButton backButton fixedButtonWidth">Tilbage</button><!--findes i LeaseController-->
    </form>


    <div class="formContainer">
        <form th:action="@{/saveUpdateLease}" method="post" class="registerForm">
            <input type="hidden" name="id" th:value="${lease.leaseId}"/>

            <div class="boldText">Opret Lease</div>

            <div class="form-group">
                <div>Vogn Nummer:</div>
                <div class="boldText" th:text="${lease.getCar().getVehicleNumber()}">1234</div>
                <input type="hidden" name="vehicle_no" th:value="${lease.getCar().getVehicleNumber()}">
            </div>
            <div class="form-group">
                <label for="start_date">Start Dato:</label>
                <input type="date" id="start_date" name="start_date" th:value="${lease.getStartDate()}" required>
            </div>
            <div class="form-group">
                <label for="end_date">Slut Dato (Undlad ved limited):</label>
                <input type="date" id="end_date" name="end_date" th:value="${lease.getEndDate()}">
            </div>
            <div class="form-group">
                <label for="customer_name">Kunde Navn:</label>
                <input type="text" id="customer_name" name="customer_name" placeholder="Indtast kundens navn" th:value="${lease.getCustomerName()}" required>
            </div>
            <div class="form-group">
                <label for="customer_email">Kunde Email:</label>
                <input type="text" id="customer_email" name="customer_email" placeholder="Indtast kundens email" th:value="${lease.getCustomerEmail()}" required>
            </div>
            <div class="form-group">
                <label for="customer_number">Kunde Nummer:</label>
                <input type="text" id="customer_number" name="customer_number" placeholder="Indtast kundens nummer" th:value="${lease.getCustomerNumber()}" required>
            </div>
            <div class="form-group">
                <label for="price_to_start">Udbetaling:</label>
                <input type="number" id="price_to_start" name="price_to_start" placeholder="Indtast udbetalingsbeløb" th:value="${lease.getPriceToStart()}" required>
            </div>
            <div class="form-group">
                <label for="price_pr_month">Månedlig Ydelse:</label>
                <input type="number" id="price_pr_month" name="price_pr_month" placeholder="Indtast mdl. ydelse" th:value="${lease.getPricePrMonth()}" required>
            </div>
            <div class="form-group">
                <label for="type_of_lease">Type Abonnement:</label>
                <select id="type_of_lease" name="type_of_lease" placeholder="Vælg abonnement" th:value="${lease.getTypeOfLease()}" required>
                    <option value="ABONNEMENT">Abonnement (3-36 mdr.)</option>
                    <option value="LIMITED">Limited (Altid 5 mdr.)</option>
                    <option value="MINILEASING">Minileasing</option>
                    <option value="VAREBIL">Varebil</option>
                </select>
            </div>
            <fieldset>
                <legend>Tilvalg:</legend>
                <div th:each="addon: ${addOnTypes}">
                    <label>
                        <input type="checkbox" name="selectedAddOns" th:value="${addon.addOnTypeId}">
                        <span th:utext="${addon.type} + ' - ' + ${addon.price} + 'kr./md. <br>Beskrivelse: ' + ${addon.description}"></span>
                    </label>
                </div>
            </fieldset>

            <label for="submitButton" class="boxButton">Gem ændringer</label>
            <button type="submit" id="submitButton" hidden class="styledButton">submit</button>
        </form>
    </div> <!-- div formContainer ends -->
</div>
</body>
</html>