<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger skade</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">

    <form th:action="@{/showCar}" method="get">
        <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
        <button type="submit" class="boxButton backButton fixedButtonWidth">Tilbage</button>
    </form>

    <div class="formContainer">

            <div class="lightText">Rediger skade</div>
            <div class="boldText">Damage ID: <span th:text="${damage.damageId}"></span></div>
            <div class="boldText">Lease ID: <span th:text="${damage.leaseId}"></span></div>
            <form th:action="@{/doEditDamage}" method="post" class="registerForm"><!--findes i DamageController-->
                    <div class="form-group">
                        <input type="text" id="damageType" name="damageType" th:value="${damage.damageType}" placeholder="Skade type">
                    </div>
                <div class="fivePointCatSelect">
                    <div class="lightText">
                        Kategori
                    </div>


                    <div class="fivePointRadios">
                        <label>
                            <span>1</span>
                            <input type="radio" name="category" th:value="1" th:checked="${damage.category == 1}"> <!-- th:chechked siger at hvis damage.category allerede er 1, så er den markeret-->
                        </label>
                        <label>
                            <span>2</span>
                            <input type="radio" name="category" th:value="2" th:checked="${damage.category == 2}">
                        </label>
                        <label>
                            <span>3</span>
                            <input type="radio" name="category" th:value="3" th:checked="${damage.category == 3}">
                        </label>
                        <label>
                            <span>4</span>
                            <input type="radio" name="category" th:value="4" th:checked="${damage.category == 4}">
                        </label>
                        <label>
                            <span>5</span>
                            <input type="radio" name="category" th:value="5" th:checked="${damage.category == 5}">
                        </label>
                    </div>
                </div>
                    <div class="form-group">
                        <input type="number" id="price" name="price" th:value="${damage.price}" placeholder="Pris">
                    </div>
                    <input type="hidden" th:value="${damage.leaseId}" id="leaseId" name="leaseId">
                    <input type="hidden" th:value="${damage.damageId}" name="damageId">
                <label for="submitButton" class="boxButton">Bekræft</label>
                <button id="submitButton" type="submit" hidden="">Bekræft</button>

        </form>
    </div>
</div>

</body>
</html>