<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger skade</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div class="mainContent">
    <div class="header">HEADER</div>
    <form>
        <h1>Rediger skade</h1>
        <input type="text">
    </form>
</div> <!-- div mainContent ends -->

</body>
</html>