<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger bruger</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="mainContent">
    <form th:action="@{/getShowUserPage}" method="post">
        <input type="hidden" name="usernameBox" th:value="${user.userName}" />
        <button type="submit" class="boxButton backButton">Tilbage</button>
    </form>

<div class="formContainer">
    <div class="boldText">Rediger bruger</div>

    <form th:action="@{/saveUpdateUser}" method="post" class="registerForm"><!--findes i UserController-->
    <input type="hidden" th:value="${user.getUserName()}" name="oldUserName" id="oldUserName">

    <div class="form-group">
        <label for="userName">Brugernavn:</label>
        <input type="text" th:value="${user.getUserName()}" id="userName" name="userName" required>
    </div>

    <div class="form-group">
        <label for="firstName">Fornavn:</label>
        <input type="text" th:value="${user.getFirstName}" id="firstName" name="firstName" required>
    </div>

    <div class="form-group">
        <label for="lastName">Efternavn:</label>
        <input type="text" th:value="${user.getLastName()}" id="lastName" name="lastName" required>
    </div>

    <div class="form-group">
        <label for="passWord">Password:</label>
        <input type="password" th:value="${user.getPassword()}" id="passWord" name="passWord" required>
    </div>

    <div class="form-group">
        <label for="passWordControl">Bekræft password:</label>
        <input type="password" id="passWordControl" name="passWordControl" required>
    </div>

    <div class="roleradios">
        Brugertype:
        <div class="roleRadio">
            <input type="radio" name="role" th:value="Data" required>
            <div class="lightText">Data Registrering</div>
        </div>
        <div class="roleRadio">
            <input type="radio" name="role" th:value="Repair">
            <div class="lightText">Skade Registrering</div>
        </div>
        <div class="roleRadio">
            <input type="radio" name="role" th:value="Business">
            <div class="lightText">Forretningsudvikling</div>
        </div>
        <div class="roleRadio">
            <input type="radio" name="role" th:value="Sysadmin">
            <div class="lightText">System administrator</div>
        </div>
    </div>

    <button type="submit" class="boxButton">submit</button>
</form>
</div>
</div>
</body>
</html>