<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger skade</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">

    <div class="formContainer">
        <form th:action="@{/doEditDamage}" method="post">
            <h1>Rediger skade</h1>


            <div class="formContainer">
                    <div class="form-group">
                        <input type="text" id="damageType" name="damageType" th:value="${damage.damageType}" placeholder="Skade type">
                    </div>
                    <div class="form-group">
                        <input type="number" id="category" name="category" th:value="${damage.category}" placeholder="Kategori">
                    </div>
                    <div class="form-group">
                        <input type="number" id="price" name="price" th:value="${damage.price}" placeholder="Pris">
                    </div>
                    <input type="hidden" th:value="${damage.leaseId}" id="leaseId" name="leaseId" placeholder="Lease Id">
                    <input type="hidden" th:value="${damage.damageId}" name="damageId" placeholder="Lease Id">
                    <button type="submit">Rediger</button>
            </div>

        </form>

        <div th:if="${damage != null}">
        <p>Lease ID: <span th:text="${damage.leaseId}"></span></p>

    </div>


    </div>
</div>

</body>
</html>