<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fixDamage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/landingPage.css" th:href="@{/landingPage.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="mainContent">
    <div class="userOptions">
        <form th:action="@{/changeCarStatusAvailable}" method="post"><!--findes i CarController-->
            <input type="hidden" th:value="${leaseId}" name="leaseId">
            <input type="hidden" th:value="${car.vehicleNumber}" name="vehicleNo">
            <button type="submit" class="boxButton wideButton">Registrer bil som: klar til udleje</button>
        </form>
        <form th:action="@{/changeCarStatusGettingRepaired}" method="post"><!--findes i CarController-->
            <input type="hidden" th:value="${leaseId}" name="leaseId">
            <input type="hidden" th:value="${car.vehicleNumber}" name="vehicleNo">
            <button type="submit" class="boxButton wideButton">Registrer bil som: til reparation</button>
        </form>
        <form th:action="@{/showCar}" method="get"><!--findes i CarController-->
            <input type="hidden" th:value="${leaseId}" name="leaseId">
            <label for="backSubmitButton" class="backButton boxButton">Tilbage</label>
            <button type="submit" id="backSubmitButton" hidden>Tilbage</button>
        </form>
    </div>
    <div class="notifications">
        <div class="notificationsPanel">
            <h1 th:if="${car.statusOfCar == T(org.example.eksamen2025_gruppe5.model.StatusOfCar).AvailableToLease}">Bilens
                status: Klar til lease</h1>
            <!--T(org.example.eksamen2025_gruppe5.model.StatusOfCar).AvailableToLease Er stien til enum klassen i java, thymeleaf siger at hvis car.StatusOfCar er den enum så skal den printe det der står ved siden af-->
            <h1 th:if="${car.statusOfCar == T(org.example.eksamen2025_gruppe5.model.StatusOfCar).Leased}">Bilens status:
                Leaset ud</h1>
            <h1 th:if="${car.statusOfCar == T(org.example.eksamen2025_gruppe5.model.StatusOfCar).GettingRepaired}">Bilens
                status: Til reparation</h1>
            <h1 th:if="${car.statusOfCar == T(org.example.eksamen2025_gruppe5.model.StatusOfCar).Sold}">Bilens status:
                Solgt</h1>
            <h1 th:if="${car.statusOfCar == T(org.example.eksamen2025_gruppe5.model.StatusOfCar).PendingEvaluation}">Bilens
                status: Modtaget</h1>

            <div th:if="${damages != null}">
                <div th:each="damage : ${damages}">
                    <div class="formContainer">
                        <p th:text="'Skade Id: ' + ${damage.damageId}">Skade Id</p>

                        <p>----------------------------------------------</p>
                        <p th:text="'Kategori: ' + ${damage.category}">Kategori</p>
                        <p th:text="'Skade type: ' + ${damage.damageType}">Skade type</p>
                        <p th:text="'Pris: ' + ${damage.price}">Pris</p>
                        <p th:text="'Skadens status: ' + (${damage.isFixed} ? 'er udbedret' : 'er ikke udbedret')">Skadens status:</p>
                        <form th:action="@{/fixDamage}" method="post"><!--findes i CarController-->
                            <input type="hidden" th:value="${damage.leaseId}" name="leaseId">
                            <input type="hidden" th:value="${damage.damageId}" name="damageId">
                            <input type="hidden" th:value="${damage.isFixed}" name="isFixed">
                            <input type="hidden" th:value="${car.vehicleNumber}" name="vehicleNumber">
                            <button type="submit" class="boxButton wideButton">Marker skade som udbedret</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${damages == null}">
        <p>Der er ingen skader på bilen</p>
    </div>
</div>
</body>
</html>