<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>printDamageReport</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/registrationPage.css" th:href="@{/registrationPage.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>


<div class="mainContent">

    <div class="tilbageknap">
        <form th:action="@{/getShowDamage}" method="get"><!--findes i DamageController-->
            <input type="hidden" th:value="${leaseId}" name="leaseId" placeholder="Lease Id">
            <label for="submitBackButton" class="backButton boxButton">Tilbage</label>
            <button type="submit" id="submitBackButton" hidden>Tilbage</button>
        </form>
    </div>

    <div th:if="${leaseId != null}">
        <form th:action="@{/printDamageReport}" method="get"><!--findes i DamageController-->
            <input type="hidden" th:value="${leaseId}" name="leaseId" placeholder="Lease Id">
            <button type="submit" class="boxButton backbutton">Tryk for at printe</button>
        </form>

        <div th:if="${damages != null}">
            <p>Dine skader ser sådan ud for lease id :<span th:text="${leaseId}"></span><br>OBS!! Denne metode virker
                kun når<br> man kører programmet lokalt </p>
            <div th:each="damage : ${damages}">
                <p>----------------------------------------------</p>
                <p th:text="'Skade Id: ' + ${damage.damageId}">Skade Id</p>
                <p th:text="'Kategori: ' + ${damage.category}">Kategori</p>
                <p th:text="'Skade type: ' + ${damage.damageType}">Skade type</p>
                <p th:text="'Pris: ' + ${damage.price}">Pris</p>
            </div>
        </div>
        <div th:if="${damages == null}">
            <p>Filen er gemt i systemet</p>
        </div>
    </div>
</div>
</body>
</html>