<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lejeaftale</title>
    <link rel="stylesheet" href="../static/popUpBox.css" th:href="@{/popUpBox.css}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>

<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">
<div class="userOptions">

    <div class="boldText">Vælg funktion:</div>

    <form th:action="@{/getUpdateLease(id=${lease.leaseId})}" method="get"><!--findes i LeaseController-->
        <input type="hidden" name="leaseId" th:value="${lease.leaseId}" />
        <button type="submit" class="boxButton wideButton">Rediger lejeaftale</button>
    </form>

    <input type="checkbox" name="confirmation" id="needConfirm" class="hiddenToggle">
    <label for="needConfirm" class="boxButton wideButton">Slet denne lejeaftale</label>
    <div class="popUpBoxFull">
        <div class="popUpBox">
            <p class="boldText">Bekræft at du vil slette lejeaftalen</p>
            <p class="lightText">Denne handling er permanent, og kan ikke gøres om</p>
            <div class="choices">
                <!-- the actual method -->
                <form th:action="@{/deleteLease}" method="post"><!--findes i DamageController-->
                    <input type="hidden" name="id" th:value="${lease.leaseId}"/>
                    <button type="submit" id="submitDeleteButton" hidden>Bekræft</button>
                    <label for="submitDeleteButton" class="textButton">Bekræft</label>
                </form>
                <label for="needConfirm" class="textButton">Annuller</label>
            </div> <!-- div choices ends -->
        </div>
    </div><!-- div confirmationBox ends -->
    <!--<label for="needConfirm" class="button">Slet denne lejeaftale</label>-->

    <form th:action="@{/getPayDamages}" method="get">
        <input type="hidden" name="leaseId" th:value="${lease.leaseId}" />
        <button type="submit" class="boxButton wideButton">Betal for skaderne</button>
    </form>
    <form th:action="@{/dataregPage}" method="get">
        <label for="backButtonSubmit" class="backButton boxButton">Tilbage</label>
        <button type="submit"  id="backButtonSubmit" hidden></button>
    </form>

</div>

<div class="information">
    <h1>Detaljer</h1>
    <div th:if="${lease != null}">
        <p>Lejeaftale ID: <span th:text="${lease.leaseId}"></span></p>
        <p>Tilknyttet bil ID: <span th:text="${lease.car.getVehicleNumber()}"></span></p>
        <h2>Kunde oplysninger</h2>
        <p>Navn: <span th:text="${lease.customerName}"></span></p>
        <p>Email: <span th:text="${lease.customerEmail}"></span></p>
        <p>Nummer: <span th:text="${lease.customerNumber}"></span></p>
        <h2>Pris</h2>
        <p>Udbetaling pris: <span th:text="${lease.priceToStart}"></span>kr.</p>
        <p>Pris per måned: <span th:text="${lease.pricePrMonth}"></span>kr.</p>
        <h2>Tilvalg</h2>
        <div th:each="addon: ${selectedAddons}">
            <label>
                <span th:utext="${addon.type} + ' - ' + ${addon.price} + 'kr./md.'"></span>
            </label>
        </div>
    </div>
</div>
</div>

</body>
</html>