<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="infoBox">
    <p th:text="${user.getUserName()}"></p>
    <p th:text="${user.getFirstName()}"></p>
    <p th:text="${user.getLastName()}"></p>
    <p th:text="${user.getRoleAsString()}"></p>
</div>
<form th:action="@{/deleteUser}" method="post">
    <input type="hidden" th:value="${user.getUserName()}" name="usernameDelete" id="usernameDelete">
    <button type="submit">Slet denne bruger</button>
</form>
<form th:action="@{/getEditUser}" method="post">
    <input type="hidden" th:value="${user.getUserName()}" name="usernameEdit" id="usernameEdit">
    <button type="submit">Rediger denne bruger</button>
</form>
</body>
</html>