<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lejeaftale</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>
<div class="mainContent">
    <div class="header">
        HEADER
    </div>
<div class="userOptions">
    <a th:href="@{/getUpdateLease(id=${lease.leaseId})}" class="btn">Rediger lease</a>
</div>

<div class="information">
    <h1>LEASE DETALJER</h1>
    <div th:if="${lease != null}">
        <p>Lease ID: <span th:text="${lease.leaseId}"></span></p>
        <p>Customer Name: <span th:text="${lease.customerName}"></span></p>
        <p>Price to Start: <span th:text="${lease.priceToStart}"></span></p>
    </div>
</div>
</div>

</body>
</html>