
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Author(s): Peter-->
    <meta charset="UTF-8">
    <title>showListsOfCars</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="mainContent">
    <form th:action="@{/getUserPage}" method="get">
        <button type="submit" class="boxButton backButton">Tilbage</button>
    </form>
    <div class="tableContainer">

        <!-- Buttons in the top -->
        <div class="tableContainerItem">

            <div class="tableAndButton">
                <input type="radio" name="listSelect" id="allCars" hidden checked>
                <label for="allCars" class="boxButton leftTableTopButton">Alle biler</label>
                <!-- Alle biler -->

                <div class="toggleShow">
                    <div class="scrollable">
                        <table>
                            <tr>
                                <th style="width: 8%">VognNr</th>
                                <th style="width: 14.5%">Stelnummer</th>
                                <th style="width: 10%">Mærke</th>
                                <th style="width: 18%">Model</th>
                                <th style="width: 9%">Prod. år</th>
                                <th style="width: 13.5%">Brændstof</th>
                                <th style="width: 13.5%">Indkøbspris</th>
                                <th style="width: 13.5%">Status</th>
                            </tr>
                            <tr th:each="car : ${listOfAllCars}">
                                <td><p th:text="${car.vehicleNumber}"></p></td>
                                <td><p th:text="${car.chassisNumber}"></p></td>
                                <td><p th:text="${car.carModel.getBrand()}"></p></td>
                                <td><p th:text="${car.carModel.getModel()}"></p></td>
                                <td><p th:text="${car.carModel.getProductionYear()}"></p></td>
                                <td><p th:text="${car.carModel.getFuelType()}"></p></td>
                                <td><p th:text="${#numbers.formatDecimal(car.price,0,'POINT',2,'COMMA')} + ' DKK'"></p></td>
                                <td><p th:text="${car.getStatusOfCar().getDanishLabel()}"></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tableAndButton">
                <input type="radio" name="listSelect" id="leasedCars" hidden>
                <label for="leasedCars" class="boxButton centerTableTopButton">Leasede biler</label>
                <!-- Udlejede biler -->
                <div class="toggleShow">
                    <div class="scrollable">
                        <table>
                            <tr>
                                <th style="width: 8%">VognNr</th>
                                <th style="width: 14.5%">Stelnummer</th>
                                <th style="width: 10%">Mærke</th>
                                <th style="width: 18%">Model</th>
                                <th style="width: 9%">Prod. år</th>
                                <th style="width: 13.5%">Brændstof</th>
                                <th style="width: 13.5%">Indkøbspris</th>
                                <th style="width: 13.5%">Status</th>
                            </tr>
                            <tr th:each="car : ${listOfLeasedCars}">
                                <td><p th:text="${car.vehicleNumber}"></p></td>
                                <td><p th:text="${car.chassisNumber}"></p></td>
                                <td><p th:text="${car.carModel.getBrand()}"></p></td>
                                <td><p th:text="${car.carModel.getModel()}"></p></td>
                                <td><p th:text="${car.carModel.getProductionYear()}"></p></td>
                                <td><p th:text="${car.carModel.getFuelType()}"></p></td>
                                <td><p th:text="${#numbers.formatDecimal(car.price,0,'POINT',2,'COMMA')} + ' DKK'"></p></td>
                                <td><p th:text="${car.getStatusOfCar().getDanishLabel()}"></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tableAndButton">
                <input type="radio" name="listSelect" id="nonLeasedCars" hidden>
                <label for="nonLeasedCars" class="boxButton rightTableTopButton">Ikke leasede biler</label>
                <!-- Ikke udlejede biler -->
                <div class="toggleShow">
                    <div class="scrollable">
                        <table>
                            <tr>
                                <th style="width: 8%">VognNr</th>
                                <th style="width: 14.5%">Stelnummer</th>
                                <th style="width: 10%">Mærke</th>
                                <th style="width: 18%">Model</th>
                                <th style="width: 9%">Prod. år</th>
                                <th style="width: 13.5%">Brændstof</th>
                                <th style="width: 13.5%">Indkøbspris</th>
                                <th style="width: 13.5%">Status</th>
                            </tr>
                            <tr th:each="car : ${listOfNonLeasedCars}">
                                <td><p th:text="${car.vehicleNumber}"></p></td>
                                <td><p th:text="${car.chassisNumber}"></p></td>
                                <td><p th:text="${car.carModel.getBrand()}"></p></td>
                                <td><p th:text="${car.carModel.getModel()}"></p></td>
                                <td><p th:text="${car.carModel.getProductionYear()}"></p></td>
                                <td><p th:text="${car.carModel.getFuelType()}"></p></td>
                                <td><p th:text="${#numbers.formatDecimal(car.price,0,'POINT',2,'COMMA')} + ' DKK'"></p></td>
                                <td><p th:text="${car.getStatusOfCar().getDanishLabel()}"></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div> <!-- tableContainerItem ends -->
    </div> <!-- tableContainer ends -->
</div> <!-- mainContent ends -->
</body>
</html>