<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se bruger</title>
    <link rel="stylesheet" href="../static/popUpBox.css" th:href="@{/popUpBox.css}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">

    <div class="userOptions">

        <input type="checkbox" name="confirmation" id="needConfirm" class="hiddenToggle">
        <label for="needConfirm" class="boxButton">Slet denne bruger</label>
        <div class="popUpBoxFull">
            <div class="popUpBox">
                <p class="boldText">Bekræft at du vil slette brugeren</p>
                <p class="lightText">Denne handling er permanent, og kan ikke gøres om</p>
                <div class="choices">
                    <!-- the actual method -->
                    <form th:action="@{/deleteUser}" method="post">
                        <input type="hidden" th:value="${user.getUserName()}" name="usernameDelete" id="usernameDelete">
                        <button type="submit" id="submitDeleteButton" hidden>Bekræft</button>
                        <label for="submitDeleteButton" class="textButton">Bekræft</label>
                    </form>
                    <label for="needConfirm" class="textButton">Annuller</label>
                </div> <!-- div choices ends -->
            </div>
        </div><!-- div confirmationBox ends -->
        <!--<label for="needConfirm" class="button">Slet denne bruger</label>-->


        <form th:action="@{/getEditUser}" method="post">
            <input type="hidden" th:value="${user.getUserName()}" name="usernameEdit" id="usernameEdit">
            <button type="submit" id="submitEditButton" hidden>Rediger denne bruger</button>
            <label for="submitEditButton" class="boxButton">Rediger denne bruger</label>
        </form>
    </div>
    <div class="notifications">
        <div class="notificationsPanel">
            <p>Notifikationer</p>

            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification negative">
                Mock notification
            </div>
            <div class="notification">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification negative">
                Mock notification
            </div>
            <div class="notification">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification negative">
                Mock notification
            </div>
            <div class="notification">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
            <div class="notification negative">
                Mock notification
            </div>
            <div class="notification">
                Mock notification
            </div>
            <div class="notification positive">
                Mock notification
            </div>
        <p th:text="${user.getUserName()}"></p>
        <p th:text="${user.getFirstName()}"></p>
        <p th:text="${user.getLastName()}"></p>
        <p th:text="${user.getRoleAsString()}"></p>
        </div>
    </div>

</div>



</body>
</html>