<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showCar</title>
</head>
<body>
<h2>Registrer skader</h2>
<h1> <span th:text="${lease.customerName}"></span></h1>

<p>Lease ID: <span th:text="${lease.leaseId}"></span></p>
<p>Kundens navn: <span th:text="${lease.customerName}"></span></p>
<p>Bil ID: <span th:text="${car.vehicleNumber}"></span></p>
<p>Nummerplade: <span th:text="${car.chassisNumber}"></span></p>
<p>Model: <span th:text="${car.model}"></span></p>


<form th:action="@{/getAddDamage}">
    <input type="hidden" th:value="${car.vehicleNumber}" id="vehicleNumber" name="vehicleNumber" placeholder="Bil Nummer">
    <input type="hidden" th:value="${lease.leaseId}" id="leaseId" name="leaseId" placeholder="Lease Id">

    <button type="submit">Tilføj skade</button>
</form>





</body>
</html>