<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se bruger</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>
<div class="header">
    <div class="logoBox">
        <img th:src="@{'/img/logo.png'}" src="../static/img/logo.png" alt="Logo" class="logo">
    </div>

    <div class="headerOptions">
        <div class="headerOption">
            <form th:action="@{/getUserPage}" method="get">
                <label for="getUserPageButton" class="textButton">Startside</label>
                <button type="submit" hidden id="getUserPageButton">Startside</button>
            </form>
        </div>
        <div class="headerOption">
            <form th:action="@{/logOutUser}" method="post">
                <label for="logOutuserButton" class="textButton">Log ud</label>
                <button type="submit" hidden id="logOutuserButton">Startside</button>
            </form>
        </div><div class="headerOption">
    </div>
    </div>
</div>

<div class="mainContent">

    <div class="userOptions">

        <input type="checkbox" name="confirmation" id="needConfirm" class="hiddenToggle">
        <label for="needConfirm" >Slet denne bruger</label>
        <div class="confirmationBoxFull">
            <div class="confirmationBox">
                <p>Bekræft at du vil slette brugeren</p>
                <div class="choices">
                    <!-- the actual method -->
                    <form th:action="@{/deleteUser}" method="post">
                        <input type="hidden" th:value="${user.getUserName()}" name="usernameDelete" id="usernameDelete">
                        <button type="submit">Bekræft</button>
                    </form>
                    <label for="needConfirm" class="button">Annuller</label>
                </div> <!-- div choices ends -->
            </div>
        </div><!-- div confirmationBox ends -->
        <!--<label for="needConfirm" class="button">Slet denne bruger</label>-->


        <form th:action="@{/getEditUser}" method="post">
            <input type="hidden" th:value="${user.getUserName()}" name="usernameEdit" id="usernameEdit">
            <button type="submit">Rediger denne bruger</button>
        </form>
    </div>
    <div class="information">
        <p th:text="${user.getUserName()}"></p>
        <p th:text="${user.getFirstName()}"></p>
        <p th:text="${user.getLastName()}"></p>
        <p th:text="${user.getRoleAsString()}"></p>
    </div>

</div>



</body>
</html>