<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lejeaftale</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>

<div th:insert="~{/fragments/header :: header}"></div>

<div class="mainContent">
<div class="userOptions">
    <a th:href="@{/getUpdateLease(id=${lease.leaseId})}" class="btn">Rediger lejeaftale</a>
    <form th:action="@{/deleteLease}" method="post">
        <input type="hidden" name="id" th:value="${lease.leaseId}" />
        <button type="submit" class="deleteButton">Slet lejeaftale</button>
    </form>
    <form th:action="@{/getPayDamages}" method="get">
        <input type="hidden" name="leaseId" th:value="${lease.leaseId}" />
        <button type="submit" class="deleteButton">Betal for skaderne</button>
    </form>

</div>

<div class="information">
    <h1>Detaljer</h1>
    <div th:if="${lease != null}">
        <p>Lejeaftale ID: <span th:text="${lease.leaseId}"></span></p>
        <p>Tilknyttet bil ID: <span th:text="${lease.car.getVehicleNumber()}"></span></p>
        <h2>Kunde oplysninger</h2>
        <p>Navn: <span th:text="${lease.customerName}"></span></p>
        <p>Email: <span th:text="${lease.customerEmail}"></span></p>
        <p>Nummer: <span th:text="${lease.customerNumber}"></span></p>
        <h2>Pris</h2>
        <p>Udbetaling pris: <span th:text="${lease.priceToStart}"></span>kr.</p>
        <p>Pris per måned: <span th:text="${lease.pricePrMonth}"></span>kr.</p>
        <h2>Tilvalg</h2>
        <div th:each="addon: ${selectedAddons}">
            <label>
                <span th:utext="${addon.type} + ' - ' + ${addon.price} + 'kr./md.'"></span>
            </label>
        </div>
    </div>
</div>
</div>

</body>
</html>