<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Damage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">

    <form th:action="@{/showCar}" method="get"><!--findes i LeaseController-->
        <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
        <label for="submitBackButton" class="backButton boxButton">Tilbage</label>
        <button type="submit" id="submitBackButton" hidden>Tilbage</button>
    </form>

        <div class="userOptions">

            <form th:action="@{/getPrintDamageReport}" method="get"><!--findes i DamageController-->
                <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
                <button type="submit" class="boxButton wideButton">Print skadesrapport</button>
            </form>
        </div>

    <div class="notifications">
        <div class="notificationsPanel">
            <h1>Alle skader for lease id : <span th:text="${lease.leaseId}"></span></h1>
            <div th:each="damage : ${damages}">
                <div class="formContainer">

                    <div class="boldText" th:text="'Skade Id: ' + ${damage.damageId}">Skade Id</div>
                    <div>----------------------------------------------</div>
                    <div th:text="'Skade type: ' + ${damage.damageType}">Skade type</div>
                    <div th:text="'Kategori: ' + ${damage.category}">Kategori</div>
                    <div th:text="'Pris: ' + ${damage.price}">Pris</div>
                    <div class="options">
                        <form th:action="@{/deleteDamage}" method="post"><!--findes i DamageController-->
                            <input type="hidden" th:value="${damage.damageId}" name="damageId" placeholder="damageId">
                            <input type="hidden" th:value="${lease.leaseId}" name="leaseId" placeholder="Lease Id">
                            <button type="submit" class="boxButton wideButton">Slet skade</button>
                        </form>
                        <form th:action="@{/getEditDamage}" method="get"><!--findes i DamageController-->
                            <input type="hidden" th:value="${damage.damageId}" name="damageId" placeholder="damageId">
                            <input type="hidden" th:value="${lease.leaseId}" name="leaseId" placeholder="Lease Id">
                            <button type="submit" class="boxButton wideButton">Rediger skade</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>