<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Damage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/viewPage.css" th:href="@{/viewPage.css}">
</head>
<body>
<div class="mainContent">
    <div class="header">
        <div class="headerObject">
            <img th:src="@{'/img/logo.png'}" src="../static/img/logo.png" alt="Logo" class="logo">
        </div>
        <div class="headerObject">
            <form th:action="@{/getUserPage}" method="get">
                <button type="submit">Startside</button>
            </form>
        </div>
        <div class="headerObject">
            Log ud
        </div>
    </div>

        <div class="userOptions">
            <form th:action="@{/deleteDamage}" method="post">
                <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
                <button type="submit">Slet skade</button>
            </form>
            <form th:action="@{/getEditDamage}" method="get">
                <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
                <button type="submit">Rediger skade</button>
            </form>
        </div>

    <div class="information">
        <h1>Alle skader for lease id : <span th:text="${lease.leaseId}"></span></h1>
        <div th:each="damage : ${damages}">
            <div class="formContainer">
                <p th:text="'Lease Id: ' + ${damage.leaseId}">Lease Id</p>
                <p th:text="'Skade Id: ' + ${damage.damageId}">Skade Id</p>
                <p th:text="'Kategori: ' + ${damage.category}">Kategori</p>
                <p th:text="'Skade type: ' + ${damage.damageType}">Skade type</p>
                <p th:text="'Pris: ' + ${damage.price}">Pris</p>
            </div>
            <form th:action="@{/deleteDamage}" method="post">
                <input type="hidden" th:value="${damage.damageId}"  name="damageId" placeholder="damageId">
                <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
                <button type="submit">Slet skade</button>
            </form>
            <form th:action="@{/getEditDamage}" method="get">
                <input type="hidden" th:value="${damage.damageId}"  name="damageId" placeholder="damageId">
                <input type="hidden" th:value="${lease.leaseId}"  name="leaseId" placeholder="Lease Id">
                <button type="submit">Rediger skade</button>
            </form>

        </div>
    </div>

</div>
</body>
</html>