<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showKpi</title>
</head>
<body>
<div class="mainContent">
    <div class="header">
        <p>HEADER</p>
    </div>

    <div class="userOptions">
    <p>Månedelig indtjening fra udlejede biler : <span th:text="${revenueFromRentedCars}"></span></p>

    </div>

    <div class="notifications">
        NOTIFICATIONS
        <p th:if="${message}" th:text="${message}"></p>
    </div> <!-- div notifications ends -->

</div> <!-- mainContent ends -->





</body>
</html>