<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showListsOfCars</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:insert="~{/fragments/header :: header}"></div>
<div class="mainContent">

    <table>
        <h1>Udlejede biler</h1>
        <tr>
            <td><p>Vognnummer</p></td>
            <td><p>Stelnummer</p></td>
            <td><p>Mærke</p></td>
            <td><p>Model</p></td>
            <td><p>Produktionsår</p></td>
            <td><p></p>Brændstof</td>
            <td><p>Indkøbspris</p></td>
            <td><p>Udlejet</p></td>
            <td></td>
        </tr>
        <tr th:each="car : ${listOfLeasedCars}">
            <td><p th:text="${car.vehicleNumber}"></p></td>
            <td><p th:text="${car.chassisNumber}"></p></td>
            <td><p th:text="${car.carModel.getBrand()}"></p></td>
            <td><p th:text="${car.carModel.getModel()}"></p></td>
            <td><p th:text="${car.carModel.getProductionYear()}"></p></td>
            <td><p th:text="${car.carModel.getFuelType()}"></p></td>
            <td><p th:text="${car.price}"></p></td>
            <td><p th:text="${car.statusOfCar}"></p></td>
            <td></td>
        </tr>
    </table>
    <table>
        <h1>Ikke udlejede biler</h1>
        <tr>
            <td><p>Vognnummer</p></td>
            <td><p>Stelnummer</p></td>
            <td><p>Mærke</p></td>
            <td><p>Model</p></td>
            <td><p>Produktionsår</p></td>
            <td><p></p>Brændstof</td>
            <td><p>Indkøbspris</p></td>
            <td><p>Udlejet</p></td>
            <td></td>
        </tr>
        <tr th:each="car : ${listOfNonLeasedCars}">
            <td><p th:text="${car.vehicleNumber}"></p></td>
            <td><p th:text="${car.chassisNumber}"></p></td>
            <td><p th:text="${car.carModel.getBrand()}"></p></td>
            <td><p th:text="${car.carModel.getModel()}"></p></td>
            <td><p th:text="${car.carModel.getProductionYear()}"></p></td>
            <td><p th:text="${car.carModel.getFuelType()}"></p></td>
            <td><p th:text="${car.price}"></p></td>
            <td><p th:text="${car.statusOfCar}"></p></td>
            <td></td>
        </tr>
    </table>

</div>

</body>
</html>